*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "karma" sans-serif;
}
body{
    overflow-x: hidden;
    padding: 10px;
}
header{
    width: 100%;
    height: 17vh;
    padding: 5px;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
header div{
    font-size: 25px;
}
.navigation{
    display: none;
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 100%;
    background-color:white;
    
}
.both{
    display: flex;
    justify-content: space-between;

}
.left ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.cross{
    margin: 20px;
}
.left ul li{
    list-style: none;
    margin: 30px;
    width: 100%;
    
}

.left ul li a{
    text-decoration: none;
    color: black;
}
.fooditem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;

}
.box1{
    width: 23%;
   
    height: 105vh;
    margin-right: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    
}
.box2{
    width: 23%;
   
    height: 105vh;
  
    margin-bottom: 20px;
    box-sizing: border-box;
    
}
.img1{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
.img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline;
}
.para1 span{
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 13px;
}
.para1 p{
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
    line-height: 17px;
}
.num{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num ul{
    
    display: flex;
}
.num ul li{
   
    list-style: none;
    margin-right: 8px;
}
.active{
    background-color: black;
    color: white;
    padding: 5px;
  
}
.one:hover{
    background-color: black;
    color: white;
    padding: 3px;
}

.img2{
    width: 60%;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 40px;
}
.img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline;
    filter: grayscale(100%);
}
.chef{
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    text-align: center;
}
.chef div h4{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 50;
}
.content h6,p{
    margin-bottom: 10px;
}
.content h6{
    font-size: 25px;
    font-weight: 100;
}
.para2{
     opacity: 0.8;
}
.line{
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainline{
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.container1{
    width: 400px;
    height: 30vh;
    margin-top: 16px;
    text-align: justify;
 /*   padding: 10px;*/
}
.container1 .hsix{
   font-size: 25px;
   font-weight: 25;
   margin-bottom: 30px;
}
.container1 p{
    width: 300px;
    line-height: 18px;
    opacity: 0.8;
}
.container4{
    width: 400px;
    height: 30vh;
    margin-bottom: 20px;
}
.lineimg{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 4px;
}
.line1{
    display: flex;
    align-items: center;
    padding: 3px;
    margin-bottom: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.line2{
    display: flex;
    margin-bottom: 9px;
    padding: 3px;
    align-items: center;
}
.lineimg img{
    width: 100%;
    margin: 0%;
    height: 100%;
    object-fit: cover;
    display: inline;
}
.container4 .hsix{
    margin-top: 0;
    height: 100%;
    width: 100%;
   /* background-color: rgb(228, 230, 231);*/
    height: 10vh;
    padding: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.container4 h6{
    margin-left: 3px;
    font-size: 22px;
    font-weight:200 ;
}

.container5{
    width: 400px;
    height: 30vh;
  }
.container5 .divthree{
    margin-top: 0;
    height: 100%;
    width: 100%;
  /*  background-color: rgb(228, 230, 231);*/
    height: 9vh;
    padding: 0%;
    display: flex;
    align-items: center;

}
.divthree h6{
    margin-left: 5px;
    font-size: 22px;
    font-weight:200 ;
    
}
.cont5para{
    display: flex;
    flex-wrap: wrap;
    line-height: 27px;
    flex-wrap: wrap;
    padding: 10px;
}
.cont5para p{
    height: 28px;
    margin: 5px;
    padding:4px;
    background-color: rgb(116, 117, 118);
    color: white;
    font-size: 15px;
    text-align: center;
}
.cont5para .travel{
    background-color: black;
    color: white;
}


@media (max-width:600px) {
    header{
        justify-content: space-between;
    }
    .fooditem{
        justify-content: center;
    }
    .box1,.box2{
        width: 90%;
        height: 100vh;
    }
    .chef div h4{
        margin-bottom: 20px;
        
    }
    .container{
       justify-content: center;
       display: block;
       
    }
    .container1,.container4,.container5{
        width: 100%;
    }
    .container1{
        height: 20vh;
    }
    .container1 p{
        width: 100%;
        line-height: 18px;
        opacity: 0.8;
    }
    .img2{
        width: 80%;
    }
    .navigation{
        height: 100vh;
        width: 70%;
    }
}